src/br/registro/dnsshim/resources/templates/xml/schema/ImportKey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="dnsshim" type="dnsshimType" />
  <xsd:complexType name="dnsshimType">
    <xsd:sequence>
      <xsd:element name="request" type="requestType" />
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:decimal" />
  </xsd:complexType>
  <xsd:complexType name="requestType">
    <xsd:sequence>
      <xsd:element name="importKey" type="importKeyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="importKeyType">
    <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:decimal" />
      <xsd:element name="zone" type="xsd:string" />
      <xsd:element name="algorithm" type="xsd:string" />
      <xsd:element name="flags" type="xsd:string" />
      <xsd:element name="type" type="xsd:string" />
      <xsd:element name="status" type="xsd:string" />
      <xsd:element name="modulus" type="xsd:string" />
      <xsd:element name="publicExponent" type="xsd:string" />
      <xsd:element name="privateExponent" type="xsd:string" />
      <xsd:element name="prime1" type="xsd:string" />
      <xsd:element name="prime2" type="xsd:string" />
      <xsd:element name="exponent1" type="xsd:string" />
      <xsd:element name="exponent2" type="xsd:string" />
      <xsd:element name="coefficient" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>