src/br/registro/dnsshim/resources/templates/xml/schema/PubZone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="dnsshim" type="dnsshimType" />
  <xsd:complexType name="dnsshimType">
    <xsd:sequence>
      <xsd:element name="request" type="requestType" />
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:decimal" />
  </xsd:complexType>
  <xsd:complexType name="requestType">
    <xsd:sequence>
      <xsd:element name="pubZone" type="pubZoneType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pubZoneType">
    <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:decimal" />
      <xsd:element name="zone" type="xsd:string" />
      <xsd:element name="serial" type="xsd:decimal" />
      <xsd:element name="type" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>