src/br/registro/dnsshim/resources/templates/xml/schema/RemoveTsigKey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="dnsshim" type="dnsshimType" />
  <xsd:complexType name="dnsshimType">
    <xsd:sequence>
      <xsd:element name="request" type="requestType" />
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:decimal" />
  </xsd:complexType>
  <xsd:complexType name="requestType">
    <xsd:sequence>
      <xsd:element name="removeTsigKey" type="removeTsigKeyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeTsigKeyType">
    <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:int" />
      <xsd:element name="host" type="xsd:string" />
      <xsd:element name="keyName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>